@charset "utf-8";



body {
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
  background: radial-gradient(129% 99% at 112% 85%, rgb(223, 220, 255) 20%, rgb(166, 158, 255) 90%),    
    url('https://assets.codepen.io/16327/noise-e82662fe.png');  
  background-blend-mode: color-dodge;
}

.split {
  -webkit-transform: translate3d(0, 0, 0);
  font-size: 24px;
  line-height: 36px;
  color: #dedede;
  margin: 50px auto;
  width: 800px;
  visibility: hidden;
}

.split div {
  border-radius: 4px;
  background: var(--color-surface-white);
  padding: 0 8px;
  margin: 4px 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: var(--color-just-black);
  font-weight: semibold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
