@charset "utf-8";

body{
  overflow-x: hidden;
  text-align: center;
}

.container{

  margin: auto;
}

[parallax_section] {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  transform-origin: center center;
}

[parallax_trigger] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  object-position: center center;
  will-change: transform;  
}

[trigger]{
  position: relative;
}
[second_section]{

  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  object-fit: cover;
}

[second_image]{
  width: 100%;
  height: auto;
}

h1{
  font-size: 5em;
}